<!DOCTYPE html>
<html>
<head>
    <title>Music Searcher</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Music Searcher</h1>
        
        <div class="search-box">
            <input type="text" id="searchInput" placeholder="Enter artist, album or song name...">
            <button onclick="search()">Search</button>
        </div>
        
        <div id="results"></div>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>